# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/dist
/dist-static
/dist-size

# environment

#IDE
.vscode
.idea

# misc
.DS_Store

npm-debug.log*

# 单元测试
coverage/

